@using CompanyData.Data.Parameters;
@model CompanyData.Data.Models.Contact

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<h1>Edit Contact</h1>

<div>
    <a asp-action="@ActionNames.Create" asp-controller="@ControllerNames.Order" asp-route-contactId="@Model.Id">Create New Order</a>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div id="Contacts" style="width:1020px; margin: 0 auto;">
                <style>

                    table, th, td {
                        border-collapse: collapse;
                    }

                    th, td {
                        padding: 5px;
                        text-align: center;
                    }
                </style>
                <table id="ContactTable" class="display" style="width:100%">

                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.NumnerOfOrders)</th>
                            <th>@Html.DisplayNameFor(model => model.Income)</th>
                            <th>@Html.DisplayNameFor(model => model.CompanyId)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.DisplayFor(model => model.NumnerOfOrders)</td>
                            <td>@Html.DisplayFor(model => model.Income)</td>
                            <td>@Html.DisplayFor(model => model.CompanyId)</td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <h4>Orders:</h4>

            <div id="Order" style="width:1020px; margin: 0 auto;border:1px solid red;">
                <style>

                    table, th, td {
                        border-collapse: collapse;
                    }

                    th, td {
                        padding: 5px;
                        text-align: center;
                    }
                </style>

                <table id="ContactDataTable" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Orders[0].OrderDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Orders[0].OrderPrice)
                            </th>
                    </thead>
                    <tbody>

                        @foreach (var order in Model.Orders)
                        {
                            <tr>
                                <td class="Td"><a asp-controller="@ControllerNames.Order" asp-action="@ActionNames.Edit" asp-route-id="@order.Id">@order.OrderDate</a></td>
                                <td class="Td"><a asp-controller="@ControllerNames.Order" asp-action="@ActionNames.Edit" asp-route-id="@order.Id">@order.OrderPrice</a></td>

                                <td>
                                    <a asp-action="@ActionNames.Edit" asp-controller="@ControllerNames.Order" asp-route-id="@order.Id">Edit</a>
                                    <a asp-action="@ActionNames.Delete" asp-controller="@ControllerNames.Order" asp-route-id="@order.Id">Delete</a>
                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
            <h4></h4>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="@ControllerNames.Company" asp-action="@ActionNames.Edit" asp-route-id="@Model.CompanyId">Back to Company</a>
</div>

