@using CompanyData.Data.Parameters;
@using CompanyData.Web

@model PaginatedList<CompanyData.Data.Models.Report>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Home/_Layout.cshtml";
}
<head>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script>
        $(document).ready(function () {                
            $('#ReportDataTable tr').hover(function () {
                var id = $(this).hover().find("td:eq(1)").text().split(":")[1];
                $("#ReportDataTable tr").each(function () {
                    var id2 = $(this).find("td:eq(1)").text().split(":")[1];
                    if (id == id2) {
                        $(this).css("background-color", "yellow");
                    }
                    else
                    {
                        $(this).css("background-color", "white");
                    }
                });
            });
        });
    </script>
        
</head>

<div id="DataMap" style="width:100%; margin: 0 auto;">
    <style type="text/css">
        .DBTable {
            width: 100%;
        }

        .DBToprow {
            font-size: 180%;
            font-weight: 600;
        }

        .DBTable td {
            font-size: 50%;
            padding: 7px;
        }

        .DBTable th {
            border-style: solid;
            border-width: 1px;
            padding: 7px;
        }

        .DBTable tr {
            border-style: solid;
            border-width: 1px;
        }

        .DBTable tr:hover {
            background-color: yellow;
        }
        .DBTable th:hover {
            background-color: green;
        }
    </style>

    <form asp-action="Index">
        <div class="form-group">
            Find Report: <input type="text" name="SearchString" value="@ViewBag.CurrentFilter" />
            Start Date: <input type="date" name="StartDate" value="@ViewBag.CurrentStartDateTime?.ToString("yyyy-MM-dd")" />
            End Date: <input type="date" name="EndDate" value="@ViewBag.CurrentEndDateTime?.ToString("yyyy-MM-dd")" />
            <input type="submit" value="Search" class="btn btn-default" />

        </div>
    </form>

    <table id="ReportDataTable" class="DBTable">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink(@Html.DisplayNameFor(model => model[0].TableName), @ActionNames.Index, new { sortOrder = ViewBag.TableNameParam, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].KeyValues)
                </th>
                <th>
                    @Html.ActionLink(@Html.DisplayNameFor(model => model[0].DateTime), @ActionNames.Index, new { sortOrder = ViewBag.DateTimeParam, currentStartData = ViewBag.CurrentStartDateTime, currentEndData = ViewBag.CurrentEndDateTime })
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].OldValues)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].NewValues)
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var report in Model)
            {
                <tr class="DBToprow">
                    <td>@report.TableName</td>
                    <td>@report.KeyValues</td>
                    <td>@report.DateTime</td>
                    <td>
                        @if (@report.OldValues == null)
                        {
                            @report.OldValues
                        }
                        else
                        {
                            <a asp-controller="@ControllerNames.Report" asp-action="@ActionNames.View" asp-route-Id="@report.Id">@(report.OldValues.Length > 20 ? report.OldValues.Substring(0, 20) : report.OldValues)</a>
                        }
                    </td>
                    <td>
                        @if (@report.NewValues == null)
                        {
                            @report.NewValues
                        }
                        else
                        {
                            <a asp-controller="@ControllerNames.Report" asp-action="@ActionNames.View" asp-route-Id="@report.Id">@(report.NewValues.Length > 20 ? report.NewValues.Substring(0, 20) : report.NewValues)</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="@ActionNames.Index"
       asp-route-sortOrder="@ViewData[SortingParameters.CurrentSort]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData[SortingParameters.CurrentFilter]"
       asp-route-startDate="@ViewData[SortingParameters.CurrentStartDateTime]"
       asp-route-endDate="@ViewData[SortingParameters.CurrentEndDateTime]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="@ActionNames.Index"
       asp-route-sortOrder="@ViewData[SortingParameters.CurrentSort]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData[SortingParameters.CurrentFilter]"
       asp-route-startDate="@ViewData[SortingParameters.CurrentStartDateTime]"
       asp-route-endDate="@ViewData[SortingParameters.CurrentEndDateTime]"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</div>
