@using CompanyData.Data.Parameters;
@model CompanyData.Data.Models.Company

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<h1>Edit Company</h1>

<div>
    <a asp-action="@ActionNames.Create" asp-controller="@ControllerNames.Contact" asp-route-companyId="@Model.Id">Create New Contact</a>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>


            <div id="Contacts" style="width:1020px; margin: 0 auto;">
                <style>

                    table, th, td {
                        border-collapse: collapse;
                    }

                    th, td {
                        padding: 5px;
                        text-align: center;
                    }
                </style>
                <table id="ContactTable" class="display" style="width:100%">

                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.NumberOfContacts)</th>
                            <th>@Html.DisplayNameFor(model => model.NumberOfOrders)</th>
                            <th>@Html.DisplayNameFor(model => model.TotalIncome)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.DisplayFor(model => model.NumberOfContacts)</td>
                            <td>@Html.DisplayFor(model => model.NumberOfOrders)</td>
                            <td>@Html.DisplayFor(model => model.TotalIncome)</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <h4>Contacts:</h4>
            <div id="Contacts" style="width:1020px; margin: 0 auto;border:1px solid green;">
                <style>

                    table, th, td {
                        border-collapse: collapse;
                    }

                    th, td {
                        padding: 5px;
                        text-align: center;
                    }
                </style>

                <table id="ContactDataTable" class="display" style="width:100%">

                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Contacts[0].FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Contacts[0].MiddleName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Contacts[0].LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Contacts[0].NumnerOfOrders)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Contacts[0].Income)
                            </th>

                    </thead>
                    <tbody>

                        @foreach (var contact in Model.Contacts)
                        {
                        <tr>
                            <td class="Td"><a asp-controller="@ControllerNames.Contact" asp-action="@ActionNames.Edit" asp-route-id="@contact.Id">@contact.FirstName</a></td>
                            <td>@contact.MiddleName</td>
                            <td>@contact.LastName</td>
                            <td>@contact.NumnerOfOrders</td>
                            <td>@contact.Income</td>
                            <td>
                                <a asp-action="@ActionNames.Edit" asp-controller="@ControllerNames.Contact" asp-route-id="@contact.Id">Edit</a>
                                <a asp-action="@ActionNames.Delete" asp-controller="@ControllerNames.Contact" asp-route-id="@contact.Id">Delete</a>
                            </td>
                        </tr>

                        }

                    </tbody>
                </table>
            </div>

            <h1></h1>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="@ControllerNames.DataMap" asp-action="@ActionNames.Index">Back to List</a>
</div>

