@using CompanyData.Data.Parameters;
@model CompanyData.Data.Models.Company

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<h1>Index</h1>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfContacts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfContacts)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfOrders)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfOrders)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalIncome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalIncome)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="@ControllerNames.DataMap" asp-action="@ActionNames.Index">Back to List</a>
</div>
