

@model CompanyData.Services.IndexCompany

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<div id="DataMap" style="width:1020px; margin: 0 auto; border:1px solid blue;">
    <style>

        table, th, td {
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
            text-align: left;
        }
    </style>
    <table id="CompanyDataTable" class="display" style="width:100%" width="1020">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["Name_Desc"]">@Html.DisplayNameFor(model => Model.Companys[0].Name)</a>
                </th>
                <th>Contact Name</th>
                <th>Contacts Number</th>
                <th>Order Number</th>
                <th>Total Incom</th>
                
        </thead>
        <tbody>
            @foreach (var company in Model.Companys)
            {
                <tr>
                    <td class="strongTd"><a asp-controller="Company" asp-action="Edit" asp-route-id="@company.Id">@company.Name</a></td>
                    <td>&nbsp;</td>
                    <td>@company.NumberOfContacts</td>
                    <td>Total: @company.NumberOfOrders</td>
                    <td>Total: @company.TotalIncome</td>
                </tr>
                @foreach (var contact in company.Contacts)
                {
                    <tr>
                        <td>&nbsp;</td>
                        <td class="strongTd"><a asp-controller="Contact" asp-action="Edit" asp-route-id="@contact.Id">@contact.FirstName @contact.LastName</a></td>
                        <td>&nbsp;</td>
                        <td>@contact.NumnerOfOrders</td>
                        <td>@contact.Income</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
