@model CompanyData.Data.DTOs.GenerateDataDTO

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<h1>Index</h1>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinContactNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxContactNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinOrderPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxOrderPrice)
        </dt>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CompanyNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
